* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input,
button {
  font-family: inherit;
}

main {
  width: 80%;
  margin-inline: auto;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

form {
  width: 400px;
  margin-inline: auto;
}

form input,
form button {
  display: inline-block;
  vertical-align: middle;
  margin-left: -1px;
  height: 30px;
  padding-block: 0.5em;
}

form input {
  width: 74%;
}

form button {
  width: 25%;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
}

main {
  padding-block: 3em;
}

main > *:not(:first-child) {
  margin-top: 2.5em;
}

#to-do-list-container {
  display: none;
  padding: 1.5rem;
  width: 400px;
  margin-inline: auto;
  background-color: lightgoldenrodyellow;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 10%);
}

#to-do-list li {
  margin-bottom: 0.5em;
  line-height: 1.5em;
}

#to-do-list li:hover,
#delete-btn {
  cursor: pointer;
}

.line-through {
  text-decoration: line-through;
}

#delete-btn {
  margin-left: 0.5em;
  font-size: 0.5em;
  padding-block: 0.5em;
  display: inline;
}

.btn {
  background-color: lightblue;
  color: white;
  border: none;
  border-radius: 5px;
}
